
header, section, footer{
    padding-left: 260px;
    /* background: #366e75; */
  }
header{
  height: 100vh;
}
h2{
  font-family: 'Comfortaa', cursive;
}
/* #section-skills{
  height: 100vh;
} */
.section-body{
    background: white;
      margin: 20px 50px;
      padding: 20px 20px;      
}

nav .side-nav .active{
  background: green !important;
}

.card-image{
  max-height: 100px;
}
.user-view{
    text-align: center;
}
.circle{
    margin-left: 70px;
}
.email:hover{
text-decoration: underline;
}

.flow-text:hover{
 font-style: oblique;
 text-decoration-style: wavy;
}
.backdrop{
  background-color: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);;
}

.menu {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  padding-left: 20px;
  padding-top: 20px;
  top: 0;
  color: black;
}
.img-fade{
  display: none;
}
.hoverable:hover{
  box-shadow: 100px 8px 17px 100px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; 
}

  @media only screen and (max-width : 992px) {
    header, section, footer {
      padding-left: 0;
    }
    h2{
      font-size: 20px;
    }
  }

